twilio
httpx>=0.24.0

# ==== Core Flask Server ====
Flask==3.0.3
flask-cors==6.0.1
Jinja2==3.1.4
python-dotenv
gunicorn
openai>=1.0.0
python-dateutil>=2.8.0
markdown
#flask[async]
#transformers
#llama-cpp-python>=0.1.80
#gpt-2-simple-revived
#git+https://github.com/minimaxir/gpt-2-simple.git@master#egg=gpt_2_simple
markovify




# ==== Google Gemini SDK ====
google-generativeai==0.8.5

# ==== Optional: Firebase support ====
firebase-admin==6.9.0
google-cloud-firestore>=2.11.0

# ==== Optional: Forms & Session Handling ====
Flask-WTF==1.2.2
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1

# ==== Optional: SQLAlchemy ORM ====
Flask-SQLAlchemy==3.1.1

















